.btn{
    color: #1c6758;
    font-family:'Archivo', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 8px 15px;
    border-radius: 50px;
    border: none;
    position: relative;
    z-index: 1;
    transition: 0.3s ease-in-out;
}
.btn:hover{ color: #1c6758; }
.btn:before, 
.btn:after, 
.btn span:before, 
.btn span:after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;    
    transition: 0.7s;
}
.btn:before{
    border-top: 2px solid #1c6758;
    border-left: 2px solid #1c6758;
    top: -0.5px;
    left: -0.5px;
}
.btn:after{
    border-top: 2px solid #1c6758;
    border-right: 2px solid #1c6758; 
    top: -0.5px;
    right: -0.5px;
} 
.btn span:before{
    border-bottom: 2px solid #1c6758;
    border-left: 2px solid #1c6758;
    bottom: -0.5px;
    left: -0.5px;
} 
.btn span:after{
    border-bottom: 2px solid #1c6758;
    border-right: 2px solid #1c6758;
    bottom: -0.5px;
    right: -0.5px;
}
.btn:hover:before,
.btn:hover:after,
.btn:hover span:before,
.btn:hover span:after{
    width: 51%;
    height: 51%;
}
@media only screen and (max-width: 767px){
    .btn{ margin-bottom: 30px; }
}